.text-primary {
    color: #dc3545!important;
}
.site-logo a{
    text-decoration: none;
}
.site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 2.7rem;
}
.site-nav-bar .site-logo a {
    /* color: #fff; */
}
.map-icon{
    margin-top: 10px;
    margin-right: 10px;   
}
.map-icon svg {
    fill: #fdb62f;
}
.icon-cloc-o{
    margin-top: 10px;
    margin-right: 10px;
}
.icon-cloc-o svg {
    fill: #fd4d40;
}
.mr-auto{
    margin-right: auto !important;
}
.ml-auto{
    margin-left: auto !important;
}
.mac{
    align-items: center;
}
.mr-5{
    margin-right: 3rem ;
}